<barre-de-recherche [personnel]="personnel" (typing)="personnelFiltered($event)"></barre-de-recherche>

<section>
  <span>
    {personnel?.length, plural,
    =0 {Aucune musique trouvée}
    =1 {1 Musique trouvée}
    other {{{ personnel?.length }} Musiques trouvées}}
  </span>
</section>

<section [ngSwitch]="view">
  <section *ngSwitchCase="'card'">
    <carte [music]="music" (musicDelete)="delete($event)" (musicUpdate)="update($event)"
      *ngFor="let music of personnel"></carte>
  </section>

  <section *ngSwitchCase="'list'" style="width: 80%;">
    <table mat-table [dataSource]="personnel" class="mat-elevation-z8" style="width:100%">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> N° </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titre </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
      <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef> Album </th>
        <td mat-cell *matCellDef="let element"> {{element.album}} </td>
      </ng-container>
      <ng-container matColumnDef="artist">
        <th mat-header-cell *matHeaderCellDef> Artiste </th>
        <td mat-cell *matCellDef="let element"> {{element.artist}} </td>
      </ng-container>
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Durée </th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>





    <!-- <mat-list>
      <mat-list-item *ngFor="let music of personnel" class="mat-whiteframe-2dp mat-card">
        <img mat-list-avatar src="{{ music.picture }}" alt="Image de la musique" />
        <h3 mat-line>{{ music.title }} </h3>
        <div mat-line>
          <div><span> {{music.album }} </span> — <span>{{ music.artist }} </span></div>
          <div>
            <mat-icon>schedule</mat-icon> Durée: <span>{{music.duration}}</span> —
            <mat-icon>event</mat-icon> Date: <span>{{music.date | date:'d/MM/y'}}</span>
          </div>
        </div>
      </mat-list-item>
    </mat-list> -->
  </section>
</section>


<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <em class="material-icons">add</em>
  </button>

  <button (click)="switchView()" mat-fab color="warn">
    <em class="material-icons" *ngIf="view === 'card'">list</em>
    <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
  </button>
</section>
